
.pageStyles {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
}

.imgStyles {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}

.bsbutton {
  width: 130px;
  border: 1px solid #111111;
  border-radius: 20px;
}

button {
  width: 200px;
  height: 30px;
  border: 1px solid #111111;
  border-radius: 3px;
}

@media all and (max-width: 960px) { 
  .pageStyles {
    width: 95%;
  }
}
