h2 {
    clear: both;
}

th, td {
    text-align: center;
    min-width: 80px;
    max-width: 90px;
}

.treeType {
    text-align: left;
    color: green;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.treeName {
    min-width: 350px;
    max-width: 400px;
    text-align: left;
}

.treeComment {
    min-width: 450px;
    max-width: 500px;
    font-size: small;
}

.svgStyle {
    width: 35px;
    height: 35px;
    text-align: center;
    margin: auto;
}

.button {
    width: 55px;
}