:root {
  --menu-font-size: 17px;
  --menu-button-width: 100px;
}

/* Add a black background color to the top navigation */
.topnav {
  width: 90vw;
  overflow: visible;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.stickyNav {
  margin-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  overflow-x: auto;
  overflow-y: scroll;
  white-space: nowrap;
  top:0;
  width:100%;
  z-index:100;
}

.navlink, .active {
  float: left;
  color: black;
  text-align: center;
  height: 50px;
}

svg {
  width: var(--menu-button-width);
  height: 50px;
}

.linktext {
  position: relative;
  width: 80px;
  top: -66px;
  left: 8px;
  text-align: center;
  font-size: var(--menu-font-size);
  z-index: 200;
}

.navlink .linktext {
  color: #181616;
  left: 10px;
}

.active .linktext {
  color: #f2f2f2;
  left: 12px;
}

/* Style the links inside the navigation bar */
.navlink {
  color: #f2f2f2;
  text-align: center;
  width: var(--menu-button-width);
  text-decoration: none;
  font-size: var(--menu-font-size);
  z-index: 1;
}

.active {
  color: #f2f2f2;
  text-align: center;
  width: 110px;
  text-decoration: none;
  font-size: var(--menu-font-size);
  z-index: 10;
}

/* Add a color to the active/current link */
.active polygon, .navlink polygon:active{
  fill: rgb(50, 50, 230);
  stroke: rgb(50, 50, 230);
}

.active text, .navlink text:active{
  fill: rgb(71, 71, 71);
  stroke: rgb(71, 71, 71);
}

.navlink polygon {
  fill: rgb(180, 180, 180);
  stroke: rgb(180, 180, 180);
}

.navlink text {
  fill: rgb(71, 71, 71);
  stroke: rgb(71, 71, 71);
}

/* Change the color of links on hover */

.navlink:hover polygon {
  background-color: #ddd;
  fill: #ddd;
  stroke: #ddd;
}

.navlink:hover .linktext {
  color: #0e0d0d;
}

.navlink:hover .navlink {
  margin: 0 -11px 0 0;
}